<nav class="navbar fixed-top navPrincipal" style="background-color: #303C63; height: 80px;">
  <div class="container-fluid" >
    <div class="col-3">
      <a class="navbar-brand" href="#">
        <img src="assets/img/Logo-Xdigital-Full.png" alt="Logo" width="280" height="45" class="d-inline-block align-text-top">
      </a>
    </div>
    <div class="col-6 d-flex justify-content-center align-items-center">
      <form class="w-75">
        <div class="input-group">
          <button class="btn btn-custom-filtro dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Todo</button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item custom-item-li" href="#">Automotriz</a></li>
              <li><a class="dropdown-item custom-item-li" href="#">Computadoras</a></li>
              <li><a class="dropdown-item custom-item-li" href="#">Cine y TV</a></li>
              <li><a class="dropdown-item custom-item-li" href="#">Electrónicos</a></li>
              <li><a class="dropdown-item custom-item-li" href="#">Equipaje</a></li>
              <li><a class="dropdown-item custom-item-li" href="#">Ofertas</a></li>
            </ul>
          <input class="form-control" type="Buscar" placeholder="Busca productos, marcas y mas..." aria-label="Buscar">
          <i class="btn btn-custom-busqueda d-flex align-items-center fa fa-search fa-1x "></i>
        </div>
      </form>
    </div>
    <div class="col-3 d-flex justify-content-center align-items-center">
      <p style="color: white">menu</p>
    </div>
  </div>
</nav>

<div class="container-fluid" style="padding-top: 82px">
  <div class ="row" style="background-color: #ffffffe7 ;height: 50px; border-bottom: 1px solid #303c6339; border-top: 1px solid #303c6339;">
    
    <div class="container-fluid h-100">
      <nav class="navbar navbar-expand-lg h-100">
        <ul class="nav navbar-nav ml-auto ms-1">
            <li class="nav-item ms-4">
              <a class="nav-link" routerLink="inicio" style="color: rgb(117, 129, 193); font-size: 15px; font-weight: 600;">Inicio</a>
            </li> 
            <li class="nav-item ms-4">
              <a class="nav-link" routerLink="#" style="color: rgb(117, 129, 193); font-size: 15px; font-weight: 600;">Categorias</a>
            </li>
            <li class="nav-item ms-4">
                <a class="nav-link" routerLink="promociones" style="color: rgb(117, 129, 193); font-size: 15px; font-weight: 600;">Promociones</a>
            </li>
            <li class="nav-item ms-4">
                <a class="nav-link" routerLink="contactanos" style="color: rgb(117, 129, 193); font-size: 15px; font-weight: 600;">Contactanos</a>
            </li>
            <li class="nav-item ms-4">
                <a class="nav-link" routerLink="t&c" style="color: rgb(117, 129, 193) ; font-size: 15px; font-weight: 600;">Terminos y condiciones</a>
            </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<section style="min-height: 650px; padding-top: 0px;">
  <router-outlet></router-outlet>
</section> 