<div style="padding-top: 124px;" class="container-fluid bodyContent">

    <div id="carouselcustom" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselcustom" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselcustom" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselcustom" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/banner/BannerComponentesPC.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/banner/BannerElectronicos.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/banner/BannerAudio.webp" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselcustom" data-bs-slide="prev">
            <span class="fa fa-chevron-left"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselcustom" data-bs-slide="next">
            <span class="fa fa-chevron-right"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>

    <div class="container d-flex justify-content-center align-items-center mt-4">
        <p style="display: inline; margin: 0; margin-right: 5px; font-size: 25px; color: rgb(67, 189, 189);">#</p>
        <p class="subtitulo" style="display: inline; margin: 0;">Si no lo encuentras, pídelo, y lo traemos solo para ti </p>
        <img class = "img-icono-texto" src="assets/img/glasses.png" alt="icono Lentes">
    </div>

    <div class="container-fluid contenedor-categorias-inicio bg-light">
        <section id="portfolio" class="fondo-cat">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-2 portfolio-item">
                        <div class="fondo-cat-img">
                            <a href="#" class="portfolio-link" data-toggle="modal">
                                <img class="img-fluid cat-img" src="assets/img/catTV.png">
                            </a>
                        </div>
                        <p class="cat-title">TELEVISORES</p>
                    </div>
                    <div class="col-sm-6 col-md-2 portfolio-item">
                        <div class="fondo-cat-img">
                            <a href="#" class="portfolio-link" data-toggle="modal">
                                <img class="img-fluid cat-img" src="assets/img/catAuriculares.jpg">
                            </a>
                        </div>
                        <p class="cat-title">AURICULARES</p>
                    </div>
                    <div class="col-sm-6 col-md-2 portfolio-item">
                        <div class="fondo-cat-img">
                            <a href="#" class="portfolio-link" data-toggle="modal">
                                <img class="img-fluid cat-img" src="assets/img/catCelulares.png">
                            </a>
                        </div>
                        <p class="cat-title">CELULARES</p>
                    </div>
                    <div class="col-sm-6 col-md-2 portfolio-item">
                        <div class="fondo-cat-img">
                            <a href="#" class="portfolio-link" data-toggle="modal">
                                <img class="img-fluid cat-img" src="assets/img/catSmartwatchs.png">
                            </a>
                        </div>
                        <p class="cat-title">SMARTWATCHS</p>
                    </div>
                    <div class="col-sm-6 col-md-2 portfolio-item">
                        <div class="fondo-cat-img">
                            <a href="#" class="portfolio-link" data-toggle="modal">
                                <img class="img-fluid cat-img" src="assets/img/catAudio.webp" alt="imagen">
                            </a>
                        </div>
                        <p class="cat-title">PARLANTES</p>
                    </div>
                    <div class="col-sm-6 col-md-2 portfolio-item">
                        <div class="fondo-cat-img">
                            <a href="#" class="portfolio-link" data-toggle="modal">
                                <img class="img-fluid cat-img" src="assets/img/catProyectores.avif">
                            </a>
                        </div>
                        <p class="cat-title">PROYECTORES</p>
                    </div>
                </div>
            </div>
        </section>
        <hr>

        <div class="container">
            <!-- Seccion de filtros -->
            <div class="row"> 
                <div class="col-12">
                    <div class="row">
                        <!-- Lista de productos -->
                        <div *ngFor="let p of paginatedProducts" class="col-2 p-2 fondoCol">
                            <div class="fondoProductos">
                                <div class="imagen-producto pt-3">
                                    <a href="">
                                        <img src="{{p.images[0].RUTA}}" alt="">
                                        <span class="tituloProducto">{{p.NOMBRE}}</span>
                                        <span class="MarcaProducto">{{p.MARCA}}</span>
                                        <div class="fondoPrecio">
                                            <span class="PrecioSimbolo">S/.</span>
                                            <span class="PrecioProducto">{{formatPrice(p.PRECIO)}}</span>
                                        </div>
                                        <span class="PrecioAntes">Antes: S/. {{formatPrice(calcularPrecioAntiguo(p.PRECIO))}}</span>
                                        <span class="OtrosDetallesProducto">Quedan: {{p.STOCK}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    
                        <!-- Controles de Paginación -->
                        <div class="pagination-controls">
                            <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
                            <span class="marcadorPaginado">Página {{currentPage}}</span>
                            <button (click)="nextPage()" [disabled]="currentPage * pageSize >= products.length">Siguiente</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>