<section class="backFondo">
<div class="container-fluid" style="margin-top: 196px;">
    <div class="row">
        <div class="col-5 fondoForm">
            <div class="container">
                <h2 style="text-align: center;">Contactános</h2>
                <form [formGroup]="contactanosForm" (ngSubmit)="__onSubmit()">
                    <div class="form-group">
                        <label for="name">Nombre  <b style="color: red;">*</b></label>
                        <input type="text" formControlName="nombres" required placeholder="Juan Perez">
                        <div *ngIf="contactanosForm.get('nombres')?.invalid && (contactanosForm.get('nombres')?.touched || contactanosForm.get('nombres')?.dirty)" class="error-message">
                            {{ getErrorMessage('nombres') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Correo Electrónico <b style="color: red;">*</b></label>
                        <input type="email" formControlName="email" required placeholder="tucorreo@correo.com">
                        <div *ngIf="contactanosForm.get('email')?.invalid && (contactanosForm.get('email')?.touched || contactanosForm.get('email')?.dirty)" class="error-message">
                            {{ getErrorMessage('email') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="celular">Celular <b style="color: red;">*</b></label>
                        <input type="tel" formControlName="celular" required placeholder="9XX XXX XXX" pattern="[0-9]{9}" maxlength="9" oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                        <div *ngIf="contactanosForm.get('celular')?.invalid && (contactanosForm.get('celular')?.touched || contactanosForm.get('celular')?.dirty)" class="error-message">
                            {{ getErrorMessage('celular') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject">Asunto  <b style="color: red;">*</b></label>
                        <input type="text"  formControlName="asunto" required placeholder="Asunto">
                        <div *ngIf="contactanosForm.get('asunto')?.invalid && (contactanosForm.get('asunto')?.touched || contactanosForm.get('asunto')?.dirty)" class="error-message">
                            {{ getErrorMessage('asunto') }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">Mensaje  <b style="color: red;">*</b></label>
                        <textarea formControlName="mensaje" rows="4" required placeholder="Max. 255 caracteres"></textarea>
                        <div *ngIf="contactanosForm.get('mensaje')?.invalid && (contactanosForm.get('mensaje')?.touched || contactanosForm.get('mensaje')?.dirty)" class="error-message">
                            {{ getErrorMessage('mensaje') }}
                        </div>
                    </div>
                    <button type="submit" class="btn">Enviar</button>
                </form>

                <div class="social-media">
                    <h4>Búscanos en nuestras redes sociales:</h4>
                    <a href="https://www.facebook.com" target="_blank" class="social-btn-fb"><i class="fa fa-facebook-official"></i></a>
                    <a href="https://wa.me/your-number" target="_blank" class="social-btn-wa"><i class="fa fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com" target="_blank" class="social-btn-inst"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.tiktok.com" target="_blank" class="social-btn-go"><i class="fa fa-google-plus-official"></i></a>
                </div>
            </div>
        </div>

        <div class="col-7 fondoMap">
            <div style="margin-left: 1050px; margin-top: -50px;" class="icon-container">
                <img src="assets/img/iconWeb.png" alt="" width="60px" class="reflejar dorado">
            </div>
            <div class="contact-info">
                <div style="color: white;"><b>Teléfono:</b> 946 048 372</div>
                <div style="color: white;"><b>Dirección:</b> Jirón Quilca 560-838, Cercado de Lima 15001</div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15607.340417360021!2d-77.03851473313247!3d-12.054864102703823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1727821999878!5m2!1ses-419!2spe" width="85%" height="400" style="margin-top: 2%; border-radius: 20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>

        </div>
    </div>
</div>
</section>