 <body>
  <div class="container">
   <div class="cart">
    <div class="cart-header">
     Carro
     <span>
      (1 producto)
     </span>
    </div>
    <div class="cart-item">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          </div>
     <img alt="Imagen del producto" height="100" src="assets/img-productos/65UT7300-001.jpg" width="100"/>
     <div class="cart-item-details">
      <div class="cart-item-title">
       Televisor 65 Crystal Uhd Du8000 4k Tizen Os Smart Tv (2024)
      </div>
      <div class="cart-item-subtitle">
       LG
      </div>
      <div class="cart-item-price">
       S/ 1,899
       <span class="cart-item-discount">
        -37%
       </span>
       <div class="cart-item-old-price">
        S/ 2,099
       </div>
      </div>
     </div>
     <div class="cart-item-quantity">
      <button>
       -
      </button>
      <input type="text" value="1"/>
      <button>
       +
      </button>
     </div>
    </div>
    <select class="form-select" aria-label="Default select example" style="width: 500px;">
        <option selected>Garantia Extendida</option>
        <option value="1">Garantia extendia por 2 años a S/ 250.00</option>
        <option value="2">Garantia extendia por 3 años a S/ 400.00</option>
      </select>
   </div>

   <div class="order-summary">
    <div class="order-summary-header">
     Resumen de la orden
    </div>
    <div class="order-summary-item">
     <div>
      Costo de envío estimado
     </div>
     <div>
      S/ 34.90
     </div>
    </div>
    <div class="order-summary-item">
     <div>
      Productos (1)
     </div>
     <div>
      S/ 2,999
     </div>
    </div>
    <div class="order-summary-item">
     <div>
      Descuentos (1)
     </div>
     <div>
      - S/ 900
     </div>
    </div>
    <div class="order-summary-item order-summary-total">
     <div>
      Total:
     </div>
     <div>
      S/ 2,099
     </div>
    </div>
    <div class="order-summary-item order-summary-total">
     <div>
      Total con descuento:
     </div>
     <div>
      S/ 1,899
     </div>
    </div>
    <div class="order-summary-button">
     Continuar compra
    </div>

   </div>
   </div>
</body>
<body>
    <div class="formulario-entrega">
    <div class="dire">
        <div class="formulario">
            <div class="entrega">
                <p>Dirección de entrega</p>
            </div>
            <div class="horizontal-container">
                <div class="form-group">
                    <p style="margin-left: 0px; margin-right: 60px;">Provincia</p>
                    <select class="form-select" aria-label="Disabled select example" disabled style="width: 300px; margin-left: 0px;">
                        <option selected>Lima</option>
                      </select>
                </div>
                <div class="form-group">
                    <p style="margin-left: 100px;">Distrito</p>
                    <select class="form-select" aria-label="Default select example" style="width: 300px; margin-left: 100px;">
                        <option selected></option>
                        <option  value="1">San Martin de Porres</option>
                        <option  value="2">San Juan de Miraflores</option>
                        <option  value="3">Surco</option>
                        <option  value="4">Surquillo</option>
                        <option  value="5">Chorrillos</option>
                      </select>
                </div>

            </div>
            <div>
                <div class="dedire">
                    <p >Detalla tu dirección</p>     
                </div>
                <div>
                    <input style="margin-left: 0px;" class="form-control" type="text" placeholder="Av. jiron, calle, sector" aria-label="default input example">
                </div>
            </div>
            <div class="horizontal1-container">
                <div>
                    <div class="form-group2">
                        <p style="margin-left: 0px;">Número de celular</p>
                        <input style="width: 250px; margin-left: 0px;" class="form-control" type="text" aria-label="default input example">
                    </div>
                </div>
                <div>
                <div class="form-group2">
                    <p style="margin-left: 100px;" >Correo Electronico</p>
                    <input style="width: 350px; margin-left: 110px;" class="form-control" type="text" aria-label="default input example">
                </div>
                
            </div>
        </div>
      </div>
   </div>
    </div>
</body>
<body>
    <div class="payment-methods">
        <h2 style="font-weight: bold;">Medio de Pago</h2>
        <p>Selecciona un medio de pago para continuar con tu compra</p>
        <div class="info-alert">
            <i class="icon-info"></i>
            <img style="width: 40px; padding-right: 10px ;" src="advertising-svgrepo-com.png">
            <span>Recuerda activar tu tarjeta para compras por internet antes de realizar el pago.</span>
        </div>
        
        <div class="payment-option">
            <div class="option-header">
                <div>
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                  </div>
                <img style="margin-left: 10px;" src="bcp.jpg" alt="Tarjeta Ripley">
                <span>Pago en Banco de Crédito del Perú</span>
            </div>
        </div>
        
        <div class="payment-option">
            <div class="option-header">
                <div>
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                  </div>
                <img style="margin-left: 10px;" src="credit-card-pay-svgrepo-com.png" alt="Tarjetas de Crédito/Débito">
                <span>Tarjetas de Crédito (Visa, Mastercard, Amex, Diners)</span>
            </div>
            <div class="expandable-content">
                <!-- Aquí puedes agregar campos adicionales si es necesario -->
            </div>
        </div>
        
        <div class="payment-option">
            <div class="option-header">
                <div>
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                  </div>
                <img style="margin-left: 10px;" src="yape.png" alt="Yape">
                <span>Yape</span>
            </div>
        </div>
        
        <div class="payment-option">
            <div class="option-header">
                <div>
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                  </div>
                <img style="margin-left: 10px;" src="cash-payment-pay-money-cash-svgrepo-com.png" alt="Pago en Efectivo">
                <span>Pago en Efectivo</span>
            </div>
        </div>
        
        <div class="payment-option">
            <div class="option-header">
                <div>
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                  </div>
                <img style="margin-left: 10px;" src="store-svgrepo-com.png" alt="Pago en Tienda">
                <span>Pago en Tienda</span>
            </div>
        </div>
    </div>
</body>