<div class="container">
    <div class="row">
        <div class="contenido">
            <div class="d-flex text-center justify-content-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item text-center"><a href="#" >X-Digital</a></li>
                    <li class="breadcrumb-item active">Nuestros {{caseContent(activeContent)}}</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="text-center"><h2>{{caseContent(activeContent)}}</h2></div>

    <div class="d-flex justify-content-center gap-1 mt-4">
        <button class="btn btn-primary" type="button" (click)="showContent('terms')">Términos y condiciones</button>
        <button class="btn btn-primary" type="button" (click)="showContent('products')">Productos y Precios</button>
        <button class="btn btn-primary" type="button" (click)="showContent('delivery')">Políticas de Entrega</button>
    </div>

    <div class="content-container mt-4">
        <div *ngIf="activeContent === 'terms'" class="content">
            <div class="card card-body">
                <p>En el presente documento se describe los “Términos y Condiciones” generales; así mismo, las políticas de privacidad aplicables al acceso y uso de los servicios brindados por Importaciones X-Digital dentro del sitio 
                    <a href="https://www.xdigital.com.pe" target="_blank">www.xdigital.com.pe</a>, sus subdominios y/u otros dominios (anexos url) relacionados (en adelante como "xdigital.com.pe" o el "Sitio"), en donde estos Términos y Condiciones se encuentren.
                </p>

                <p>Cualquier persona que desee acceder y/o suscribirse, para poder usar el Sitio o los Servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales y las Políticas de Privacidad, junto con todas las demás políticas y principios que rigen impacto.com.pe y que son incorporados al presente directamente o por referencia o que son explicados y/o detallados en otras secciones del Sitio.</p>
            
                <p>En consecuencia, todas las visitas y todos los contratos y transacciones que se realicen en este Sitio, así como sus efectos jurídicos, quedarán regidos por estas reglas y sometidos a la legislación aplicable en Perú.</p>
            
                <p>El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones Generales y en las Políticas de Privacidad de X-Digital así como en los demás documentos incorporados a los mismos por referencia, previo a su registro como Usuario de impacto.com.pe y/o a la adquisición de productos y entrega de cualquier dato, quedando sujetos a lo señalado y dispuesto en los Términos y Condiciones.</p>
            
                <p>Cuando usted visita xdigital.com.pe se está comunicando con importaciones X-Digital de manera electrónica. En ese sentido, usted brinda su consentimiento y conformidad total al aceptar los términos y condiciones anteriormente mencionados, y promete regirse a ellos bajo cualquier circunstancia; así mismo, nos da su aprobación para recibir comunicaciones de importaciones Impacto por correo electrónico o mediante la publicación de avisos en su portal.</p>
            
                <p>En el presente documento se describe los “Términos y Condiciones” generales; así mismo, las políticas de privacidad aplicables al acceso y uso de los servicios brindados por X-Digital dentro del sitio 
                    <a href="https://www.xdigital.com.pe" target="_blank">www.xdigital.com.pe</a>, sus subdominios y/u otros dominios (anexos url) relacionados (en adelante como "xdigital.com.pe" o el "Sitio"), en donde estos Términos y Condiciones se encuentren.
                </p>
            
                <p>Cualquier persona que desee acceder y/o suscribirse, para poder usar el Sitio o los Servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales y las Políticas de Privacidad, junto con todas las demás políticas y principios que rigen xdigital.com.pe y que son incorporados al presente directamente o por referencia o que son explicados y/o detallados en otras secciones del Sitio.</p>
            
                <p>En consecuencia, todas las visitas y todos los contratos y transacciones que se realicen en este Sitio, así como sus efectos jurídicos, quedarán regidos por estas reglas y sometidos a la legislación aplicable en Perú.</p>
            
                <p>El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones Generales y en las Políticas de Privacidad de Importaciones X-Digital así como en los demás documentos incorporados a los mismos por referencia, previo a su registro como Usuario de impacto.com.pe y/o a la adquisición de productos y entrega de cualquier dato, quedando sujetos a lo señalado y dispuesto en los Términos y Condiciones.</p>
            
                <p>Cuando usted visita xdigital.com.pe se está comunicando con X-Digital de manera electrónica. En ese sentido, usted brinda su consentimiento y conformidad total al aceptar los términos y condiciones anteriormente mencionados, y promete regirse a ellos bajo cualquier circunstancia; así mismo, nos da su aprobación para recibir comunicaciones de importaciones Impacto por correo electrónico o mediante la publicación de avisos en su portal.</p>               
            </div>
        </div>
        
        <div *ngIf="activeContent === 'products'" class="content">
            <div class="card card-body">
                    <p>Los clientes registrados en X-Digital han ingresado voluntariamente sus datos, los cuales se asumen reales y actualizados. La validación de esta información es de exclusiva responsabilidad del cliente.</p>

                    <p>Como parte de nuestra actividad, tratamos datos personales en cumplimiento con lo dispuesto en la Ley 29733 – Ley de Protección de Datos Personales, su Reglamento, aprobado por Decreto Supremo 003-2013-JUS, y sus normas complementarias y modificatorias (todas éstas en adelante definidas como la “Normativa de Protección de Datos Personales” ).</p>
        
                    <p>Los datos personales cuyo tratamiento realizamos son almacenados en bancos de datos personales de titularidad de X-Digital</p>
        
                    <p>Un cliente de X-Digital puede dejar de serlo por determinación de X-Digital y sin requerir una expresión de causa.</p>
        
                    <p>Los distribuidores o clientes de Importaciones X-Digital aceptan la presente política comercial y de distribución con el sólo hecho de comprar y/o recibir una factura o boleta de Importaciones X-Digital</p>                
            </div>
        </div>

        <div *ngIf="activeContent === 'delivery'" class="content">
            <div class="card card-body">
                <p>Realizada la compra, nuestros plazos de entrega serán como máximo 4 días hábiles una vez efectuada la cancelación de su pedido en nuestras cuentas corrientes, esto es lo correspondiente a las entregas en la ciudad de Lima Metropolitana. Y en relación con nuestros envíos a provincia, el tiempo será como máximo 4 días hábiles hasta la entrega en la agencia de transporte que usted haya seleccionado.</p>
            
                <p>Se le enviará vía correo electrónico o celular, solo en el caso de los envíos a provincia, la guía de remisión de la agencia correspondiente que usted haya seleccionado.</p>

                <h3>Horarios de Entrega</h3>
                <p>Nuestros horarios de entrega en Lima Metropolitana son de lunes a sábado de 10 am a 6 pm en lo distritos seleccionados.</p>

                <h3>Cobertura de Entrega</h3>
                <p>Nuestra cobertura de envíos es a nivel nacional por intermedio de las empresas de transporte asociadas a X-Digital y nuestra cobertura en la ciudad de Lima corresponde a los distritos que se encuentran en nuestra página web  
                    <a href="https://www.xdigital.com.pe">www.xdigital.com.pe</a>.
                </p>

                <h2>Medios de Entrega</h2>
                    <ul>
                        <li><strong>Recojo en tienda:</strong> En la dirección que aparece en nuestra página web.</li>
                        <li><strong>Envíos delivery:</strong> Con unidades motorizadas y móviles en Lima y sus distritos mencionados en nuestra página web.</li>
                        <li><strong>Envíos a provincia:</strong> Por medio de las agencias de transporte elegidas por nuestros clientes.</li>
                    </ul>

                <h3>Modo de Confirmación de Entrega</h3>
                    <ul>
                        <li><strong>Recojo en tienda:</strong> Sello de entregado y firma del cliente como señal de conformidad de precio y cantidad de su compra.</li>
                        <li><strong>Envíos delivery:</strong> Firma del cliente como señal de conformidad de precio y cantidad de su compra.</li>
                        <li><strong>Envíos a provincia:</strong> Enviamos mediante correo y celular la guía de remisión de la empresa de transporte elegida por el cliente como señal de la entrega del pedido.</li>
                    </ul>

                <h3>Costos Relacionados a la Entrega</h3>
                <p>Los precios de envío varían según el distrito, y se muestran al momento de la compra. No hay costo adicional para el recojo en tienda ni para los envíos a provincia.</p>

                <h3>Forma de Pago</h3>
                <p>Nuestros productos y servicios ofrecidos en la Tienda Virtual <a href="https://www.xdigital.com.pe">www.xdigital.com.pe</a> podrán cancelarse en dos modalidades:</p>
                    <ul>
                        <li><strong>Pagos en línea:</strong> Pago utilizando tarjetas de crédito y/o débito.</li>
                        <li><strong>Tarjetas aceptadas:</strong> Tarjetas de Crédito y/o Débito VISA, MasterCard, Diners Club, American Express.</li>
                    </ul>
                <p>El uso de las tarjetas mencionadas se sujetará a lo establecido en estos Términos y Condiciones, en relación con su emisor y los respectivos Contratos de Apertura y Reglamento de Uso.</p>              
            </div>
        </div>
    </div>
</div>
