
    <div class="py-6" style="padding: 5px 30px;">
        <nav class="text-sm mb-3">
            <a href="#" class="text-black  fs-7 text-decoration-none text-body-secondary">X-Digital</a> &gt; <span class="text-black fw-bold">Términos y Condiciones</span></nav>
    </div>
    <body>
        <div class="text-center">
            <u class="fs-2">Términos y Condiciones</u>
        </div>
        <div style="padding: 20px 30px;">
            <p>
                <strong class="fs-6">Introducción</strong>
            </p>
            <p >
                Bienvenido a X-Digital Importaciones. Estos términos y condiciones regulan el acceso y uso de nuestro sitio web y la compra de productos a través de nuestra tienda en línea. Al utilizar nuestro sitio web y/o realizar una compra, aceptas cumplir con estos términos y condiciones en su totalidad. Por favor, lee detenidamente este documento antes de realizar una compra.
            </p>
            <p style="margin-top: 30px;">
                <strong>Productos y Descripciones</strong>
            </p>
            <ul >
                <li>Todos los productos disponibles en nuestro sitio web están descritos con la mayor precisión posible. Sin embargo, no garantizamos que las descripciones sean completamente exactas, completas, actuales o libres de errores.</li>
                <li>Las imágenes de los productos son ilustrativas y pueden no representar con precisión el producto final.</li>
                <li>La disponibilidad de los productos está sujeta a cambios sin previo aviso, y nos reservamos el derecho de limitar las cantidades disponibles para la venta de cualquier producto.</li>
            </ul>
            <p style="margin-top: 30px;"> 
                <strong>Precios y pagos</strong>
            </p>
            <ul>
                <li>Todos los precios de los productos están expresados en soles e incluyen los impuestos aplicables, a menos que se indique lo contrario.</li>
                <li>Nos reservamos el derecho de modificar los precios en cualquier momento sin previo aviso. Los precios aplicables son los vigentes en el momento de la confirmación del pedido.</li>
                <li>Aceptamos diversas formas de pago, incluyendo tarjetas de crédito, tarjetas de débito y billetera digital en nuestro sitio web.</li>
                <li>Al realizar una compra, autorizas a cargar el monto total en el método de pago seleccionado. Todos los pagos deben ser completados y aprobados antes del envío de los productos.</li>
            </ul>
            <p style="margin-top: 30px;">
                <strong>Proceso de compra</strong>
            </p>
            <ul>
                <li> Para realizar una compra, debes seguir el procedimiento en línea en nuestro sitio web y proporcionar la información requerida, como nombre, dirección de envío, método de pago, entre otros.</li>
                <li> Una vez realizado el pedido, recibirás un correo electrónico de confirmación con los detalles del pedido. Este correo no constituye la aceptación del pedido, sino una confirmación de la recepción del mismo.</li>
                <li>La aceptación del pedido se producirá una vez que hayamos verificado la disponibilidad de los productos y completado el proceso de pago. Nos reservamos el derecho de rechazar o cancelar un pedido por cualquier motivo, incluyendo errores en los precios o en la disponibilidad de los productos.</li>
            </ul>
            <p style="margin-top: 30px;">
                <strong>Devoluciones</strong>
            </p>
            <ul>
                <li>Aceptamos devoluciones de productos dentro de los 14 días naturales desde la fecha de entrega, siempre y cuando el producto esté en su estado original, sin uso, con todos sus accesorios, manuales y en su embalaje original.</li>
                <li>Para iniciar un proceso de devolución, debes contactarnos a través de correo electrónico de nosotros o número de teléfono para recibir instrucciones detalladas.</li>
                <li>Los costos de envío por devoluciones serán responsabilidad del cliente, salvo en casos de errores en el pedido o productos defectuosos.</li>
            </ul>
            <p style="margin-top: 30px;">
                <strong>Cambios</strong>
            </p>
            <ul>
                <li>Los cambios de productos están sujetos a la disponibilidad de los mismos y se realizarán únicamente si el producto a cambiar está en perfecto estado, en su embalaje original y sin signos de uso.</li>
                <li>Los costos de envío asociados con cambios de productos serán cubiertos por el cliente, salvo en casos de productos defectuosos o errores cometidos por nuestra parte.</li>
            </ul>
            <p style="margin-top: 30px;">
                <strong>Reembolsos</strong>
            </p>
            <ul>
                <li>Los reembolsos se procesarán dentro de los 14 días hábiles desde la recepción y verificación de los productos devueltos.</li>
                <li>El reembolso se realizará utilizando el mismo método de pago utilizado en la compra original, a menos que se acuerde lo contrario.</li>
                <li>Los costos de envío originales no son reembolsables, a menos que la devolución sea debida a un error nuestro o a productos defectuosos.</li>
            </ul>
            <p style="margin-top: 30px;">
                <strong>Garantía</strong>
            </p>
            <ul>
                <li>Todos los productos vendidos en nuestra tienda cuentan con una garantía del fabricante, cuya duración y condiciones varían según el tipo de producto.</li>
                <li>La garantía cubre defectos de fabricación y problemas técnicos del producto durante el período especificado por el fabricante.</li>
                <li>La garantía no cubre daños causados por uso indebido, negligencia, manipulación incorrecta, modificaciones no autorizadas o desgaste normal del producto.</li>
                <li>Para hacer válida la garantía, es necesario presentar la factura de compra y cumplir con los requisitos establecidos por el fabricante. Los servicios de garantía se gestionarán directamente con el fabricante o a través de los centros de servicio autorizados.</li>
            </ul>
            <p style="margin-top: 30px;">
                <strong>Privacidad y Protección de Datos</strong>
            </p>
            <ul>
                <li>Nos comprometemos a proteger la privacidad de nuestros clientes. Toda la información personal proporcionada será tratada de acuerdo con nuestra Política de Privacidad.</li>
                <li>Utilizamos medidas de seguridad para proteger tus datos personales, pero no garantizamos la seguridad absoluta de la información transmitida a través de internet.</li>
                <li>Los datos personales recolectados serán utilizados únicamente para procesar tus pedidos, realizar envíos y, si has dado tu consentimiento, para enviarte información promocional.</li>
            </ul>
        </div>
    </body>
    
